
main{
  display: flex;
  margin-left: 80px;
  margin-bottom: 50px;
}
body{
  background-color: #b53d2f
}

.outtext{
  position: relative;
  margin-top: 20px;
  margin-left: 90px;
  background-image: url("img/Muñeco.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
